<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PACKAGE</title>
</head>
<body>
<section class="promotion__container">
  <p class="sub-title__text">PROMOTIONS</p>
  <h2 class="title__text">OUR <span class="--title__text-underline promotion-text">PACKAGES</span></h2>

  <article class="promotion__wrap">
    <div class="promotion__item">
      <div class="promotion__item-img --item-img-1">
        <div class="promotion__item-sticker-1">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/arch.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Berlin</h5>
          <p><i class='bx bx-map'></i>Europe</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>CULTURAL</p>
            <P>RELAX<span style="background-color: #ffd205;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span>700 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque.</p>
        </div>
        <a href="" class="pri-btn promotion-btn-1">DETAILS</a>
      </div>
    </div>

    <div class="promotion__item">
      <div class="promotion__item-img --item-img-2">
        <div class="promotion__item-sticker-2">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/torii-gate.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Hong Kong</h5>
          <p><i class='bx bx-map'></i>Asia</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>HISTORY</p>
            <P>CULTURAL<span style="background-color: #f76570;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span class="old-price">1000</span>
            <span>500 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque.</p>
        </div>
        <a href="" class="pri-btn promotion-btn-2">DETAILS</a>
      </div>
    </div>

    <div class="promotion__item">
      <div class="promotion__item-img --item-img-3">
        <div class="promotion__item-sticker-3">
          <img class="sticker__img" src="https://leloc90.github.io/loveTravel/assets/images/golden-gate.png" alt="">
        </div>
      </div>
      <div class="promotion__item-info">
        <div class="promotion__item-head">
          <h5>Sanfrancisco</h5>
          <p><i class='bx bx-map'></i>United State</p>
        </div>
        <div class="promotion__item-thema">
          <div class="promotion__item-thema-text">
            <p>SPORT</p>
            <P>RELAX<span style="background-color: #ba71da;">+ 1</span></P>

          </div>
          <div class="promotion__item-thema-price">
            <span>400 $</span>
          </div>
        </div>
        <div class="promotion__item-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque.</p>
        </div>
        <a href="" class="pri-btn promotion-btn-3">DETAILS</a>
      </div>
    </div>
  </article>
</section>

</body>
</html>